/*styles.css
AI light*/

/* ── Reset / base ───────────────────────────────── */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Hide browser's native password reveal button as its behaving inconsistently */
input::-ms-reveal,
input::-ms-clear {
    display: none;
}

.hidden {
    visibility: hidden;
}

.disp-none {
    display: none;
}

.invalid {
    color: rgba(255, 255, 255, 0.3);
}

.valid {
    color: #34D399;
}