{% extends "layout.html" %}

{% block title %} SignUp {% endblock %}

{% block body %}

<section class="header">
    <h1>Sign Up</h1>
</section>

<form id="signup-form" action="example" method="POST">
    <div class="form-row">
        <label>Username:</label>
        <input type="text" id="username" name="username" required>
    </div>
    <div class="form-row">
        <label>Password:</label>
        <input type="text" id="password" name="password" required>
    </div>
    <div class="form-row">
        <label>Confirm Password:</label>
        <input type="text" id="confirm_password" required>
    </div>
    <button type="submit">Sign Up</button>
</form>

{% endblock %}