{% extends "layout.html" %}

{% block title %} SignUp {% endblock %}

{% block body %}

<section class="header">
    <h1>Sign Up</h1>
</section>

<form id="signup-form" action="example" method="POST">
    <div class="form-row">
        <label>Username:</label>
        <input type="text" id="username" name="username" required>
    </div>
    <div class="form-row">
        <label>Password:</label>
        <input type="password" id="pswd" name="pswd" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
    </div>
    <div class="form-row">
        <label>Confirm Password:</label>
        <input type="password" id="confirm_pswd" name="confirm_pswd" required>
    </div>
    <button type="submit" id="create_acc">Create Account</button>
</form>

<div>
    <h3>Password must contain the following:</h3>
    <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
    <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
    <p id="number" class="invalid">A <b>number</b></p>
    <p id="length" class="invalid">Minimum <b>8 characters</b></p>
</div>

{% endblock %}

{% block scripts %}
<script src="{{url_for('static', filename = 'js/signup.js') }}"></script>
{% endblock %}